/.venv/
/data/*
!/data/01_dag/
!/data/01_dag/**
!/data/03_meta/
!/data/03_meta/**
!/data/04_customer/
!/data/04_customer/**
!/data/06_plots/
!/data/06_plots/**
!/data/07_candidates/
!/data/07_candidates/**
!/data/08_features_raw/
!/data/08_features_raw/**
!/data/08_features_sanitized/
!/data/08_features_sanitized/**
!/data/10_feature_analysis/
!/data/10_feature_analysis/**
!/data/13_portfolio/
!/data/13_portfolio/**
!/data/14_submission/
!/data/14_submission/**
/data/14_submission/.score_summary_live_*.csv
/data/14_submission/.submitted_challenge2_*
!/data/16_scores_best/
!/data/16_scores_best/**
.idea
/.snakemake/
.env
__pycache__/
*.py[cod]
*$py.class
